In [11]:
2+1

3

In [12]:
2-1

1

In [13]:
3/2

1.5

In [14]:
7 / 4

1.75

Modulo or "Mod" Operator (%) It gives remainder.

In [15]:
7 % 4

3

In [16]:
50 % 5

0

Checking if a number is odd or even. So, if a number is divisible by 2 gives any remainder means its an odd number. If, it gives zero remainder then, its an even number.

In [17]:
23 % 2

1

So, 23 is an odd number.

In [18]:
20 % 2

0

So, 20 is an even number.

In [19]:
2 ** 3

8

This means 2 to the power of 3.

In [20]:
2 + 10 * 10 + 3

105

These are some basic math equations showing how it follows BODMAS rule.

In [21]:
(2 + 10) * (10 + 3)

156

In [22]:
a = 5

In [23]:
a

5

If we assign new values of any data type to the same variable in python, then it takes the new value into account and use it in future cases.

In [24]:
a = 10

In [25]:
a

10

In [26]:
a + a

20

In [27]:
a = 10

In [28]:
a

10

In [29]:
a = a + a

In [30]:
a

20

So, the value of a = 20 changes to 40, 80, and so on when we run these three cells again and again, and this only happens in cell based environments like these. But, in the pyscript (IDEs) environments, it will run once and give the result as a = 20

In [31]:
type(a)

int

In [32]:
a = 30.1

In [33]:
type(a)

float

Calculating my taxes for income of 100 and tax rate 10 % (0.1)

In [34]:
my_income = 100

tax_rate = 0.1

my_taxes = my_income * tax_rate

In [35]:
my_taxes

10.0

In [36]:
'hello'

'hello'

In [37]:
"world"

'world'

In [38]:
'this is also a string'

'this is also a string'

In [39]:
" I'm going on a run "

" I'm going on a run "

In [40]:
print("hello")

hello

In [41]:
print("hello world one")
print("hello world two")

hello world one
hello world two

In [42]:
print('hello \n world')

hello
 world

In [43]:
print('hello\nworld')

hello
world

In [44]:
print('hello\tworld')

hello	world

In [45]:
len('hello')

5

len calculates length of the string. Length of this string is 5

In [46]:
len ('I am')

4

In this example, we can see that length of the string is 4 because of a space in between.

In [47]:
mystring = "Hello World"

In [48]:
mystring

'Hello World'

INDEXING

In [49]:
mystring[0]

'H'

In [50]:
mystring[8]

'r'

In [51]:
mystring[9]

'l'

In [52]:
mystring[-2]

'l'

In [53]:
mystring[-1]

'd'

SLICING

In [54]:
mystring = 'abcdefghijk'

In [55]:
mystring

'abcdefghijk'

In [56]:
mystring[2:]

'cdefghijk'

In [57]:
mystring[:3]

'abc'

[:3] does not include the character in the third position (i.e. it only includes characters in positions 0,1,2) and similarly [3:6], it will pick characters in positions 3,4,5

In [58]:
mystring[3:6]

'def'

In [59]:
mystring[1:3]

'bc'

In [60]:
mystring[3:9]

'defghi'

STEP SIZE

In [61]:
mystring

'abcdefghijk'

In [62]:
mystring[::]

'abcdefghijk'

mystring[::] is technically correct because it says to go from the beginning to the end with jumps/stepsize of 1.

In [63]:
mystring[::2]

'acegik'

The above is using step size of 2

In [64]:
mystring[::3]

'adgj'

Using step size of 3 makes it jump to the third place and so on.

In [65]:
mystring[2:7:2]

'ceg'

This denotes the starting position is 2 and ending position is 6 (not including 7) and step size is 2

In [66]:
mystring[::1]

'abcdefghijk'

[::1] is the same as [::]

In [67]:
mystring[::-1]

'kjihgfedcba'

[::-1] means that we are going end to end but from the back. So, it reverses the string.

In [68]:
name = "Sam"

In [69]:
# name[0] = 'P'

IMMUTABILITY

The above statement will not work because strings are immutable. Strings are not mutable! (meaning you can't use indexing to change individual elements of a string)

In [70]:
last_letters = name[1:]

In [71]:
last_letters

'am'

In [72]:
'P' + last_letters

'Pam'

This is called string concatenation.

In [73]:
x = 'Hello World'

In [74]:
x = x + " it is beautiful outside!"

In [75]:
x

'Hello World it is beautiful outside!'

if you keep running the two lines of code above again and again, then you will see it add this again and again.

In [76]:
letter = 'z'

In [77]:
letter * 10

'zzzzzzzzzz'

In [78]:
2 + 3

5

The code above gives normal addition, while the code below is adding two strings together and performing string concatenation

In [79]:
'2' + '3'

'23'

In [80]:
x = 'Hello World'

In [81]:
x.upper()

'HELLO WORLD'

In [82]:
x

'Hello World'

When we call the original string x, it will still be the same, but if we want it to be uppercase aswell then we need to assign x = x.upper() in line[160]

In [83]:
x.lower()

'hello world'

In [84]:
x.split()

['Hello', 'World']

split method allows us to quickly create a list off of a string. It splits the string with every blankspace.

In [85]:
x = 'Hi this is a string'

In [86]:
x.split()

['Hi', 'this', 'is', 'a', 'string']

In [87]:
x.split('i')

['H', ' th', 's ', 's a str', 'ng']

In the above code, we can see that its has removed all the I's because it is splitting on them, and now it included all the blankspaces.

STRING INTERPOLATION

.format() method

In [88]:
print ('This is a string {}'.format('INSERTED') )

This is a string INSERTED

In [89]:
print('The {} {} {}'.format('fox','brown','quick') )

The fox brown quick

In [90]:
print('The {2} {1} {0}'.format('fox','brown','quick') )

The quick brown fox

In [91]:
print('The {0} {0} {0}'.format('fox','brown','quick') )

The fox fox fox

In [92]:
print('The {q} {b} {f}'.format(f='fox',b='brown',q ='quick') )

The quick brown fox

In [93]:
print('The {f} {f} {f}'.format(f='fox',b='brown',q ='quick') )

The fox fox fox

In [94]:
result = 100/777

In [95]:
result

0.1287001287001287

In [96]:
print("The result was {}".format(result))

The result was 0.1287001287001287

In [97]:
print("The result was {r}".format(r=result))

The result was 0.1287001287001287

gives the same result

float formatting follows "{value:width.precision f}
width is for increasing whitespace, precision rounds off the number.

In [98]:
print("The result was {r:1.3f}".format(r=result))

The result was 0.129

F strings method/ formatted string literals

In [99]:
name = "Jose"

In [100]:
print(f'Hello, his name is {name}')

Hello, his name is Jose

In [101]:
name = "Sam"
age = 3

In [102]:
print(f'{name} is {age} years old')

Sam is 3 years old

LISTS

In [103]:
my_list = [1,2,3]

In [104]:
my_list = ['STRING',100,23.2]

In [105]:
len(my_list)

3

In [106]:
mylist = ['one','two','three']

In [107]:
mylist[0]    #indexing

'one'

In [108]:
mylist[1:]    #slicing

['two', 'three']

In [109]:
mylist

['one', 'two', 'three']

In [110]:
another_list = ['four','five']

In [111]:
new_list = mylist + another_list     #concatenation

In [112]:
new_list

['one', 'two', 'three', 'four', 'five']

In [113]:
mylist

['one', 'two', 'three']

In [114]:
another_list

['four', 'five']

In [115]:
new_list

['one', 'two', 'three', 'four', 'five']

In [116]:
new_list[0] = 'ONE ALL CAPS'

In [117]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

We cannot change an elements/letters like this in a string, however we can do this in a list. And this is one of the main differences in strings and lists.

In [118]:
new_list.append('six')

In [119]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [120]:
new_list.append('seven')

In [121]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six', 'seven']

append method permanently adds an element at the end of the list.

In [122]:
new_list.pop()

'seven'

In [123]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [124]:
popped_item = new_list.pop()

In [125]:
popped_item

'six'

In [126]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [127]:
new_list.pop(0)

'ONE ALL CAPS'

In [128]:
new_list

['two', 'three', 'four', 'five']

In [129]:
new_list.pop(-1)

'five'

In [130]:
new_list

['two', 'three', 'four']

pop method permanently removes an element at the end of the list or we can use indexing to pop off specific ones.

In [131]:
new_list = ['a','e','x','b','c']

In [132]:
num_list = [4,1,8,3]

In [133]:
new_list.sort()

In [134]:
new_list

['a', 'b', 'c', 'e', 'x']

sort method just sorts the lists in alphabetical order

In [135]:
my_sorted_list = new_list.sort()

This is a begineer's mistake because new_list.sort() does not return anything for you to assign. So, when we call my_sorted_list, we will get nothing back as a result

In [136]:
my_sorted_list

In [137]:
type(my_sorted_list)

NoneType

when we check the type of the my_sorted_list it says none type. NoneType is a type for a none object. Ther is a special object in python called none which can be used as something of no value

In [138]:
None

In [139]:
new_list.sort()

In [140]:
my_sorted_list = new_list

In [141]:
my_sorted_list

['a', 'b', 'c', 'e', 'x']

In [142]:
num_list

[4, 1, 8, 3]

In [143]:
num_list.sort()

In [144]:
num_list

[1, 3, 4, 8]

In [145]:
num_list.reverse()

In [146]:
num_list

[8, 4, 3, 1]

it reverses everything in the list.

DICTIONARY

In [147]:
my_dict = {'key1':'value1','key2':'value2'}

this is a dictionary

In [148]:
my_dict['key1']

'value1'

In [149]:
prices_lookup = {'apple':2.99, 'oranges':1.99, 'milk':5.80}

In [150]:
prices_lookup['apple']

2.99

In [151]:
d = {'k1':123,'k2':[0,1,2],'k3':{'insideKey':100}}

first is value, 2nd is list, third is another dictionary inside of a dictionary

In [152]:
d['k2']

[0, 1, 2]

In [153]:
d['k3']

{'insideKey': 100}

In [154]:
d['k3']['insideKey']

100

In [155]:
d['k2'][2]

2

In [156]:
d = {'key1':['a','b','c']}

In [157]:
mylist = d['key1']

In [158]:
mylist

['a', 'b', 'c']

In [159]:
letter = mylist[2]

In [160]:
letter

'c'

In [161]:
letter.upper()

'C'

In [162]:
d

{'key1': ['a', 'b', 'c']}

In [163]:
d['key1'][2].upper()

'C'

with python's flexibility, we can change the  c to uppercase C in one single step shown above.

In [164]:
d = {'k1':100, 'k2':200}

In [165]:
d

{'k1': 100, 'k2': 200}

In [166]:
d['k3'] = 300

In [167]:
d

{'k1': 100, 'k2': 200, 'k3': 300}

method to add key value pair to the dictionary

In [168]:
d['k1'] = 'NEW VALUE'

In [169]:
d

{'k1': 'NEW VALUE', 'k2': 200, 'k3': 300}

method to overwrite an existing key value pair. Displaying keys, values and both.

In [170]:
d = {'k1':100, 'k2':200, 'k3':300}

reassigned the old values

In [171]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [172]:
d.values()

dict_values([100, 200, 300])

In [173]:
d.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

TUPLES
Tuples are immutable meaning they can't be changed later.

In [174]:
t = (1,2,3)

In [175]:
mylist = [1,2,3]

In [176]:
type(t)

tuple

In [177]:
type(mylist)

list

In [178]:
len(t)

3

In [179]:
len(mylist)

3

In [180]:
t

(1, 2, 3)

In [181]:
t = ('one',2)

In [182]:
t[0]

'one'

In [183]:
t[-1]

2

In [184]:
t = ('a','a','b')

In [185]:
t.count('a')

2

In [186]:
t.index('a')

0

In [187]:
t.index('b')

2

Indexing will give you the location of the first element. So, element a's location is 0 and b's location is 2.

In [188]:
t

('a', 'a', 'b')

In [189]:
mylist

[1, 2, 3]

In [190]:
mylist[0] = 'NEW'

In [191]:
mylist

['NEW', 2, 3]

t[0] = 'NEW' will not work because tuple is immutable.

SETS
Sets are unordered collections of unique elements which means that there can only be one representative of the same object

In [192]:
myset = set()

In [193]:
myset

set()

In [194]:
myset.add(1)

In [195]:
myset

{1}

In [196]:
myset.add(2)

In [197]:
myset

{1, 2}

In [198]:
mylist = [1,1,1,1,2,2,2,2,3,3,3,3]

In [199]:
set(mylist)

{1, 2, 3}

As we can see above, there can only be one representative of the same object.

BOOLEANS

True and False will only work if they have capital T and F or python will think that you calling a variable known as true or false.

In [200]:
True

True

In [201]:
False

False

In [202]:
type(True)

bool

In [203]:
type(False)

bool

In [204]:
1 > 2

False

In [205]:
1 == 1

True

In [206]:
b = None

In [207]:
b

FILES

In [208]:
%%writefile myfile.txt
Hello this is a text file
this is a second line
this is a third line

Overwriting myfile.txt

In [209]:
myfile = open('myfile.txt')

In [210]:
pwd

'/Users/avd'

This is the directory where python files are getting saved. So, the text file we created will also be getting saved in the same directory.

In [211]:
myfile = open('myfile.txt')

In [212]:
myfile.read()

'Hello this is a text file\nthis is a second line\nthis is a third line\n'

In [213]:
myfile.read()

''

The reason this happens is because there is cursor which has reached its end. So, now we have to reset it to zero using the seek() function in order to read it again.

In [214]:
myfile.seek(0)

0

In [215]:
myfile.read()

'Hello this is a text file\nthis is a second line\nthis is a third line\n'

In [216]:
myfile.seek(0)

0

In [217]:
contents = myfile.read()

In [218]:
contents

'Hello this is a text file\nthis is a second line\nthis is a third line\n'

In [219]:
myfile.seek(0)

0

In [220]:
myfile.readlines()

['Hello this is a text file\n',
 'this is a second line\n',
 'this is a third line\n']

In [221]:
pwd

'/Users/avd'

In [222]:
myfile.close()

You have to close the file or else you will get the error because if you try to open and change the text file, you will get an error saying that python is still using this file. So, avoid all this we can use another file method shown below.

In [223]:
with open('myfile.txt') as my_new_file:
    contents = my_new_file.read()

In [224]:
contents

'Hello this is a text file\nthis is a second line\nthis is a third line\n'

In [225]:
with open('myfile.txt', mode = 'r') as myfile:
    contents = myfile.read()

In [226]:
contents

'Hello this is a text file\nthis is a second line\nthis is a third line\n'

put the cursor right next to open and then press shift+tab, it opens up the information for functions that have already been defined. So, copy mode='r' from here and include it in the above code. Mode = 'r' stands for read. Mode = 'w' stands for write (overwrites existing files or creates a new file). Mode = 'a' stands for append which is just to add more lines to the end of a text file. Mode = 'r+' stands for reading and writing. Mode = 'w+' stands for writing and reading (overwrites existing files or creates a new file).

In [227]:
%%writefile my_new_file.txt
ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

Overwriting my_new_file.txt

In [228]:
with open('my_new_file.txt', mode = 'r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

In [229]:
with open('my_new_file.txt', mode = 'a') as f:
    f.write('FOUR ON FOURTH')

In [230]:
with open('my_new_file.txt', mode = 'r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD
FOUR ON FOURTH

In [231]:
with open('hbdjhbsjdbiush.txt', mode = 'w') as f:
    f.write('I CREATED THIS FILE!')

In [232]:
with open('hbdjhbsjdbiush.txt', mode = 'r') as f:
    print(f.read())

I CREATED THIS FILE!

COMPARISON OPERATORS

In [233]:
2 == 2

True

In [234]:
2 == 1

False

In [235]:
'hello' == 'bye'

False

In [236]:
'Bye' == 'bye'

False

In [237]:
'2' == 2

False

In [238]:
2.0 == 2

True

In [239]:
3 != 3

False

In [240]:
4 != 5

True

In [241]:
2 > 1

True

In [242]:
1 > 2

False

In [243]:
1 < 2

True

In [244]:
2 < 5

True

In [245]:
2 >= 2

True

In [246]:
4 <= 1

False

In [247]:
1 < 2

True

In [248]:
2 < 3

True

CHAINING COMPARISON OPERATORS WITH LOGICAL OPERATORS

In [249]:
1 < 2 < 3

True

In [250]:
1 < 2 > 3

False

In [251]:
1 < 2 and 2 < 3

True

In [252]:
1 < 2 and 2 > 3

False

In [253]:
'h' == 'h' and 2 == 2

True

In [254]:
('h' == 'h') and (2 == 2)

True

and operator: results in true if both the sides are true, results in false if even one of the sides is false.
or operator: results in true if one of the sides is true, results in false if both the sides are false.

Some people find that using parantheses make it more readable, while others think the opposite. So, personal choice.

In [255]:
1 == 1 or 2 == 2

True

In [256]:
100 == 1 or 2 == 2

True

In [257]:
100 == 1 or 2 == 200

False

In [258]:
1 == 1

True

In [259]:
not 1 == 1

False

In [260]:
not (1 == 1)

False

again use of parentheses is a personal choice.

In [261]:
400 > 5000

False

In [262]:
not 400 > 5000

True

PYTHON STATEMENTS

if, elif and else statements

In [263]:
if True:
    print('ITS TRUE!')

ITS TRUE!

In [264]:
if 3>2:
    print('ITS TRUE!')

ITS TRUE!

In [265]:
hungry = True

if hungry:
    print('FEED ME!')

FEED ME!

In [266]:
hungry = False

if hungry:
    print('FEED ME!')

In [267]:
hungry = False

if hungry:
    print('FEED ME!')
else:
    print("I'm not hungry")

I'm not hungry

In [268]:
hungry = True

if hungry:
    print('FEED ME!')
else:
    print("I'm not hungry")

FEED ME!

In [269]:
loc = 'Bank'

if loc == 'Auto Shop':
    print("Cars are cool!")
else:
    print("I do not know much.")

I do not know much.

loc stands for location in this context.

In [270]:
loc = 'Bank'

if loc == 'Auto Shop':
    print("Cars are cool!")
elif loc == 'Bank':
    print("Money is cool!")
else:
    print("I do not know much.")

Money is cool!

In [271]:
loc = 'Bank'

if loc == 'Auto Shop':
    print("Cars are cool!")
elif loc == 'Bank':
    print("Money is cool!")
elif loc == 'Store':
    print("Welcome to the store!")
else:
    print("I do not know much.")

Money is cool!

In [272]:
loc = 'Auto Shop'

if loc == 'Auto Shop':
    print("Cars are cool!")
elif loc == 'Bank':
    print("Money is cool!")
elif loc == 'Store':
    print("Welcome to the store!")
else:
    print("I do not know much.")

Cars are cool!

In [273]:
loc = 'Store'

if loc == 'Auto Shop':
    print("Cars are cool!")
elif loc == 'Bank':
    print("Money is cool!")
elif loc == 'Store':
    print("Welcome to the store!")
else:
    print("I do not know much.")

Welcome to the store!

In [274]:
loc = 'Game'

if loc == 'Auto Shop':
    print("Cars are cool!")
elif loc == 'Bank':
    print("Money is cool!")
elif loc == 'Store':
    print("Welcome to the store!")
else:
    print("I do not know much.")

I do not know much.

In [275]:
name = 'Sammy'

if name == 'Frankie':
    print("Hello Frankie!")
elif name == 'Sammy':
    print("Hello Sammy!")
else:
    print("What is your name?")

Hello Sammy!

In [276]:
name = 'Frankie'

if name == 'Frankie':
    print("Hello Frankie!")
elif name == 'Sammy':
    print("Hello Sammy!")
else:
    print("What is your name?")

Hello Frankie!

In [277]:
name = 'Jose'

if name == 'Frankie':
    print("Hello Frankie!")
elif name == 'Sammy':
    print("Hello Sammy!")
else:
    print("What is your name?")

What is your name?

FOR LOOPS

In [278]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [279]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [280]:
for jelly in mylist:
    print(jelly)

1
2
3
4
5
6
7
8
9
10

In [281]:
for jelly in mylist:
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [282]:
for num in mylist:
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [283]:
for num in mylist:
    #check for even
    if num % 2 == 0:
        print(num)

2
4
6
8
10

In [284]:
for num in mylist:
    #check for even
    if num % 2 == 0:
        print(num)
    else:
        print(f'Odd number: {num}')

Odd number: 1
2
Odd number: 3
4
Odd number: 5
6
Odd number: 7
8
Odd number: 9
10

In [285]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    
print(list_sum)

55

In [286]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [287]:
mystring = 'Hello World'

for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [288]:
for letter in 'Hello World':
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [289]:
for ghjk in 'Hello World':
    print(ghjk)

H
e
l
l
o

W
o
r
l
d

In [290]:
for _ in 'Hello World':
    print('Cool!')

Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!

In [291]:
tup = (1,2,3)

for item in tup:
    print(item)

1
2
3

In [292]:
mylist = [(1,2),(3,4),(5,6),(7,8)]

In [293]:
len(mylist)

4

In [294]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [295]:
for (a,b) in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [296]:
for (a,b) in mylist:
    print(a)

1
3
5
7

In [297]:
for (a,b) in mylist:
    print(b)

2
4
6
8

In [298]:
mylist = [(1,2,3),(4,5,6),(7,8,9)]

In [299]:
for item in mylist:
    print(item)

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)

In [300]:
for a,b,c in mylist:
    print (a)

1
4
7

In [301]:
for a,b,c in mylist:
    print (b)

2
5
8

In [302]:
for a,b,c in mylist:
    print (c)

3
6
9

In [303]:
d = {'k1':1,'k2':2,'k3':3}
for item in d:
    print(item)

k1
k2
k3

In [304]:
d = {'k1':1,'k2':2,'k3':3}
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [305]:
d = {'k1':1,'k2':2,'k3':3}
for key,value in d.items():
    print(value)

1
2
3

In [306]:
d = {'k1':1,'k2':2,'k3':3}
for value in d.values():
    print(value)

1
2
3

WHILE LOOPS

In [307]:
x = 0

while x < 5:
    print(f'The current value of x is {x}')
    x = x + 1

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4

In [308]:
x = 0

while x < 5:
    print(f'The current value of x is {x}')
    x += 1

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4

In [309]:
x = 0

while x < 5:
    print(f'The current value of x is {x}')
    x = x + 1
else:
    print("X IS NOT LESS THAN 5")

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
X IS NOT LESS THAN 5

In [310]:
x = 50

while x < 5:
    print(f'The current value of x is {x}')
    x = x + 1
else:
    print("X IS NOT LESS THAN 5")

X IS NOT LESS THAN 5

Some Keywords used in loops: break, continue, pass

In [311]:
x = [1,2,3]
for item in x:
    # comment
    pass

print('End of my script')

End of my script

In [312]:
mystring = 'Sammy'

In [313]:
for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

S
m
m
y

In [314]:
for letter in mystring:
    if letter == 'a':
        break
    print(letter)

S

In [315]:
x = 0

while x < 5:
    
    if x == 2:
        break
    print(x)
    x += 1

0
1

USEFUL OPERATORS

In [316]:
mylist = [1,2,3]

In [317]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [318]:
for num in range(3,10):
    print(num)

3
4
5
6
7
8
9

In [319]:
for num in range(0,10,2):
    print(num)

0
2
4
6
8

In [320]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [321]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [322]:
index_count = 0

for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count,letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [323]:
index_count = 0
word = 'abcde'
for letter in word:
    print(word[index_count])
    index_count += 1

a
b
c
d
e

In [324]:
word = 'abcde'

for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [325]:
word = 'abcde'

for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [326]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']

In [327]:
for item in zip(mylist1,mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [328]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]

In [329]:
for item in zip(mylist1,mylist2, mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [330]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]

In [331]:
for a,b,c in zip(mylist1,mylist2, mylist3):
    print(b)

a
b
c

In [332]:
mylist1 = [1,2,3,4,5,6]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]

In [333]:
for item in zip(mylist1,mylist2, mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [334]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [335]:
list(zip(mylist1,mylist2,mylist3))

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300)]

In [336]:
'x' in [1,2,3]

False

In [337]:
'x' in ['x','y','z']

True

In [338]:
2 in [1,2,3]

True

In [339]:
'a' in 'a world'

True

In [340]:
'mykey' in {'mykey':345}

True

In [341]:
d = {'mykey':345}

345 in d.values()

True

In [342]:
d = {'mykey':345}

345 in d.keys()

False

In [343]:
mylist = [10,20,30,40,100]

In [344]:
min(mylist)

10

In [345]:
max(mylist)

100

In [346]:
from random import shuffle

In [347]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [348]:
shuffle(mylist)

In [349]:
mylist

[6, 2, 7, 4, 9, 10, 5, 1, 8, 3]

In [350]:
random_list = shuffle(mylist)

In [351]:
random_list

In [352]:
type(random_list)

NoneType

In [353]:
mylist

[10, 1, 3, 2, 6, 8, 7, 4, 9, 5]

In [354]:
from random import randint

In [355]:
randint(0,100)

64

In [356]:
randint(0,100)

34

In [357]:
mynum = randint(0,10)

In [358]:
mynum

7

In [359]:
input('Enter a number here: ')

Enter a number here: 2

'2'

In [360]:
result = input('What is your name? ')

What is your name? Anubhav

In [361]:
result

'Anubhav'

In [362]:
result = input('Favourite Number: ')

Favourite Number: 7

In [363]:
result

'7'

In [364]:
type(result)

str

In [365]:
float(result)

7.0

In [366]:
int(result)

7

In [367]:
result

'7'

In [368]:
result = int(input('Favourite Number: '))

Favourite Number: 8

In [369]:
type(result)

int

LIST COMPREHENSIONS

In [370]:
mystring = 'Hello'

In [371]:
mylist = []

for letter in mystring:
    mylist.append(letter)

In [372]:
mylist

['H', 'e', 'l', 'l', 'o']

In [373]:
mylist = [letter for letter in mystring]

In [374]:
mylist

['H', 'e', 'l', 'l', 'o']

In [375]:
mylist = [x for x in 'word']

In [376]:
mylist

['w', 'o', 'r', 'd']

In [377]:
mylist = [rtyu for rtyu in 'wordtwo']

In [378]:
mylist

['w', 'o', 'r', 'd', 't', 'w', 'o']

In [379]:
mylist = [num for num in range(0,11)]

In [380]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [381]:
mylist = [num**2 for num in range(0,11)]

In [382]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [383]:
mylist = [x for x in range(0,11) if x%2==0]

In [384]:
mylist

[0, 2, 4, 6, 8, 10]

List Comprehension using IF

In [385]:
mylist = [x**2 for x in range(0,11) if x%2==0]

In [386]:
mylist

[0, 4, 16, 36, 64, 100]

In [387]:
celcius = [0,10,20,34.5]
fahrenheit = [((9/5)*temp + 32) for temp in celcius]

In [388]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

List Comprehension Using FOR LOOP

In [389]:
fahrenheit = []

for temp in celcius:
    fahrenheit.append(((9/5)*temp + 32))

In [390]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

List Comprehension using IF ELSE

In [391]:
results = [x if x%2==0 else 'ODD' for x in range(0,11)]

In [392]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

NESTED LOOP

In [393]:
mylist = []

for x in [2,4,6]:
    for y in [1,10,1000]:
        mylist.append(x*y)

In [394]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

List Comprehension using NESTED LOOP

In [395]:
mylist = [x*y for x in [2,4,6] for y in [1,10,1000]]

In [396]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

METHODS AND FUNCTIONS

METHODS

In [397]:
mylist =[1,2,3]

In [398]:
mylist.append(4)

In [399]:
mylist

[1, 2, 3, 4]

In [400]:
mylist.pop()

4

In [401]:
mylist

[1, 2, 3]

In [402]:
help(mylist.insert) #works with every software or you can use shift + tab on jupyter notebook

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

You can use this help function or shift+tab as a beginner. However, you can check out the python documentation online for more methods and other stuffs.

FUNCTIONS

In [403]:
def say_hello():
    print("Hello")
    print('how')
    print('are')
    print('you')

In [404]:
say_hello()

Hello
how
are
you

In [405]:
def say_hello(name):
    print(f'Hello {name}')

In [406]:
say_hello('Anubhav')

Hello Anubhav

In [407]:
def say_hello(jelly):
    print(f'Hello {jelly}')

In [408]:
say_hello('Anubhav')

Hello Anubhav

In [409]:
def say_hello(name = 'Default'):
    print(f'Hello {name}')

In [410]:
say_hello()

Hello Default

In [411]:
say_hello('Anubhav')

Hello Anubhav

In [412]:
def add_num(num1,num2):
    return num1+num2

In [413]:
result = add_num(10,20)

In [414]:
result

30

In [415]:
def print_result(a,b):
    print(a+b)

In [416]:
def return_result(a,b):
    return a+b

In [417]:
result = print_result(10,20)

30

In [418]:
result

In [419]:
type(result)

NoneType

In [420]:
result = return_result(10,20)

In [421]:
result

30

In [422]:
def myfunc(a,b):
    print(a+b)
    return a+b

In [423]:
result = myfunc(10,20)

30

In [424]:
result

30

In [425]:
def sum_numbers(num1,num2):
    return num1+num2

In [426]:
sum_numbers(10,20)

30

In [427]:
sum_numbers('10','20')

'1020'

LOGIC WITH PYTHON FUNCTIONS

In [428]:
def even_check(number):
    result = number % 2 == 0
    return result

In [429]:
even_check(20)

True

In [430]:
even_check(21)

False

In [431]:
def even_check(number):
    return number % 2 == 0

In [432]:
even_check(20)

True

In [433]:
even_check(21)

False

In [434]:
# MAKING A FUNCTION THAT WILL RETURN TRUE IF ANY NUMBER IS EVEN INSIDE A LIST

In [435]:
def check_even_list(num_list):
    
    for number in num_list:
        if number % 2 == 0:
            return True
        else:
            pass

In [436]:
check_even_list([1,3,5])

In [437]:
check_even_list([2,4,5])

True

In [438]:
check_even_list([2,1,1,1])

True

In [439]:
check_even_list([1,1,1,2])

True

In [440]:
def check_even_list(num_list):
    
    for number in num_list:
        if number % 2 == 0:
            return True
        else:
            pass
    
    return False

In [441]:
check_even_list([1,3,5])

False

In [442]:
check_even_list([2,4,5])

True

In [443]:
check_even_list([2,1,1,1])

True

In [444]:
check_even_list([1,1,1,2])

True

In [445]:
def check_even_list(num_list):
    
    # return all the even numbers in a list
    
    #placeholder variables
    even_numbers = []
    
    for number in num_list:
        if number % 2 == 0:
            even_numbers.append(number)
            
        else:
            pass
    
    return even_numbers

In [446]:
check_even_list([1,2,3,4,5])

[2, 4]

In [447]:
check_even_list([1,3,5])

[]

TUPLE UNPACKING WITH PYTHON FUNCTIONS

In [448]:
stock_prices = [('APPL',200),('GOOG',400),('MSFT',100)]

In [449]:
for item in stock_prices:
    print(item)

('APPL', 200)
('GOOG', 400)
('MSFT', 100)

In [450]:
for ticker,price in stock_prices:
    print(ticker)

APPL
GOOG
MSFT

In [451]:
for ticker,price in stock_prices:
    print(price+(0.1*price)) # printing 10% increase in stock price

220.0
440.0
110.0

In [452]:
work_hours = [('Abby',100),('Billy',4000),('Cassie',800)]

In [453]:
def employee_check(work_hours):
    
    current_max = 0
    employee_of_month = ''
    
    for employee,hours in work_hours:
        if hours > current_max:
            current_max = hours
            employee_of_month = employee
        else:
            pass
        
    #return
    return (employee_of_month,current_max)

In [454]:
employee_check(work_hours)

('Billy', 4000)

In [455]:
work_hours = [('Abby',100),('Billy',4000),('Cassie',800)]

In [456]:
def employee_check(work_hours):
    
    current_max = 0
    employee_of_month = ''
    
    for employee,hours in work_hours:
        if hours > current_max:
            current_max = hours
            employee_of_month = employee
        else:
            pass
        
    #return
    return (employee_of_month,current_max)

In [457]:
result = employee_check(work_hours)

In [458]:
result

('Billy', 4000)

In [459]:
work_hours = [('Abby',100),('Billy',4000),('Cassie',800)]

In [460]:
def employee_check(work_hours):
    
    current_max = 0
    employee_of_month = ''
    
    for employee,hours in work_hours:
        if hours > current_max:
            current_max = hours
            employee_of_month = employee
        else:
            pass
        
    #return
    return (employee_of_month,current_max)

In [461]:
result = employee_check(work_hours)

In [462]:
name,hours = employee_check(work_hours)

In [463]:
result

('Billy', 4000)

In [464]:
name

'Billy'

In [465]:
hours

4000

INTERACTIONS BETWEEN PYTHON FUNCTIONS

In [466]:
example = [1,2,3,4,5,6,7]

In [467]:
from random import shuffle

In [468]:
shuffle(example)

In [469]:
example

[6, 1, 4, 2, 3, 5, 7]

In [470]:
example = [1,2,3,4,5,6,7]

In [471]:
from random import shuffle

In [472]:
result = shuffle(example)

In [473]:
result

as we can see above, shuffle(example) does not return anything

In [474]:
def shuffle_list(mylist):
    shuffle(mylist)
    return mylist

In [475]:
result = shuffle_list(example)

In [476]:
result

[3, 1, 2, 7, 6, 4, 5]

THREE CUP MONTE GAME/THREE CUP ONE BALL GAME/THE SHELL GAME

In [477]:
def shuffle_list(mylist):
    shuffle(mylist)
    return mylist

In [478]:
mylist = [' ','O',' ']

In [479]:
shuffle_list(mylist)

[' ', ' ', 'O']

In [480]:
def player_guess():
    
    guess = ''
    
    while guess not in ['0','1','2']:
        guess = input("Pick a number: 0,1 or 2")
        
    return int(guess)

In [481]:
player_guess()

Pick a number: 0,1 or 22

2

In [482]:
myindex = player_guess()

Pick a number: 0,1 or 21

In [483]:
myindex

1

In [484]:
def check_guess(mylist,guess):
    if mylist[guess] == 'O':
        print("Correct!")
    else:
        print("Wrong guess!")
        print(mylist)

In [485]:
# INITIAL LIST
mylist = [' ', 'O',' ']

# SHUFFLE LIST
mixedup_list = shuffle_list(mylist)

#USER GUESS
guess = player_guess()

#CHECK GUESS
check_guess(mixedup_list,guess)

Pick a number: 0,1 or 22
Wrong guess!
['O', ' ', ' ']

TWO FUNCTIONAL PARAMETERS: *args and **kwargs. They stand for arguments and keyword arguments respectively.
*args return back a tuple, **kwargs return back a dictionary. Also, you can use any word instead of args and kwargs, however, conventionally, we use args and kwargs for better readability. The important thing is to put  * and ** infront of the words.

In [486]:
def myfunc(a,b):
    #Returns 5% of the sum of a and b
    return sum((a,b)) * 0.05

In [487]:
myfunc(60,40)

5.0

In [488]:
def myfunc(a,b,c=0,d=0,e=0):
    #Returns 5% of the sum of a and b
    return sum((a,b,c,d,e)) * 0.05

In [489]:
myfunc(60,40,100)

10.0

In [490]:
myfunc(60,40,100,100)

15.0

In [491]:
myfunc(60,40,100,100,3)

15.15

In [492]:
def myfunc(*args):
    return sum(args) * 0.05

In [493]:
myfunc(60,40)

5.0

In [494]:
myfunc(60,40,100)

10.0

In [495]:
myfunc(60,40,100,100)

15.0

In [496]:
def myfunc(*args):
    print(args)

In [497]:
myfunc(60,40,100)

(60, 40, 100)

In [498]:
def myfunc(*spam):
    print(spam)

In [499]:
myfunc(60,40,100)

(60, 40, 100)

In [500]:
def myfunc(*args):
    for item in args:
        print(item)

In [501]:
myfunc(60,40,100)

60
40
100

In [502]:
def myfunc(**kwargs):
    if 'fruit' in kwargs:
        print('My fruit of choice is {}'.format(kwargs['fruit']))
    else:
        print('I did not find any fruit here')

In [503]:
myfunc(fruit = 'apple')

My fruit of choice is apple

In [504]:
def myfunc(**kwargs):
    if 'fruit' in kwargs:
        print('My fruit of choice is {}'.format(kwargs['fruit']))
    else:
        print('I did not find any fruit here')

In [505]:
myfunc(fruit = 'apple',veggie = 'lettuce')

My fruit of choice is apple

In [506]:
def myfunc(**kwargs):
    print(kwargs)
    if 'fruit' in kwargs:
        print('My fruit of choice is {}'.format(kwargs['fruit']))
    else:
        print('I did not find any fruit here')

In [507]:
myfunc(fruit = 'apple',veggie = 'lettuce')

{'fruit': 'apple', 'veggie': 'lettuce'}
My fruit of choice is apple

In [508]:
def myfunc(**jelly):
    print(jelly)

In [509]:
myfunc(fruit = 'apple',veggie = 'lettuce')

{'fruit': 'apple', 'veggie': 'lettuce'}

In [510]:
def myfunc(*args,**kwargs):
    
    print('I would like {} {}'.format(args[0],kwargs['food']))

In [511]:
myfunc(10,20,30,fruit='orange',food='eggs',animal='dog')

I would like 10 eggs

In [512]:
def myfunc(*args,**kwargs): #should be in the same order
    print(args)
    print(kwargs)
    print('I would like {} {}'.format(args[0],kwargs['food']))

In [513]:
myfunc(10,20,30,fruit='orange',food='eggs',animal='dog') #should be in the same order

(10, 20, 30)
{'fruit': 'orange', 'food': 'eggs', 'animal': 'dog'}
I would like 10 eggs

args and kwargs should be in the same order as they are in the function

Lambda Expressions, Map, and Filter Functions

In [514]:
def square(num):
    return num**2

In [515]:
my_nums = [1,2,3,4,5]

In [516]:
for item in map(square,my_nums):
    print(item)

1
4
9
16
25

In [517]:
list(map(square,my_nums))

[1, 4, 9, 16, 25]

In [518]:
def splicer(mystring):
    if len(mystring)%2 == 0:
        return 'EVEN'
    else:
        return mystring[0]

In [519]:
names = ['Andy','Eve','Sally']

In [520]:
list(map(splicer,names))

['EVEN', 'E', 'S']

In [521]:
def check_even(num):
    return num%2 == 0

In [522]:
mynums = [1,2,3,4,5,6]

In [523]:
list(filter(check_even,mynums))

[2, 4, 6]

In [524]:
for n in filter(check_even,mynums):
    print(n)

2
4
6

In [525]:
def square(num):
    result = num ** 2
    return result

In [526]:
square(3)

9

In [527]:
def square(num):

    return num ** 2

In [528]:
square(4)

16

In [529]:
square = lambda num:num ** 2

In [530]:
square(5)

25

In [531]:
list(map(lambda num:num**2,mynums))

[1, 4, 9, 16, 25, 36]

In [532]:
list(filter(lambda num:num%2 == 0,mynums))

[2, 4, 6]

In [533]:
names

['Andy', 'Eve', 'Sally']

In [534]:
list(map(lambda name:name[0],names))

['A', 'E', 'S']

In [535]:
list(map(lambda x:x[0],names))

['A', 'E', 'S']

In [536]:
list(map(lambda x:x[::-1],names))

['ydnA', 'evE', 'yllaS']

Nested Statements and Scope

In [537]:
x = 25

def printer():
    x = 50
    return x

In [538]:
print(x)

25

In [539]:
print(printer())

50

LEGB RULE

In [540]:
#lambda num:num**2  #Local

In [541]:
#GLOBAL
name = 'THIS IS A GLOBAL STRING' #Global

def greet():
    #ENCLOSING
    name = 'Sammy' #Enclosing function locals
    
    def hello():
        print('Hello '+name)
    
    hello()

In [542]:
greet()

Hello Sammy

In [543]:
#Enclosing function locals
name = 'THIS IS A GLOBAL STRING'

def greet():
    
#    name = 'Sammy'
    
    def hello():
        print('Hello '+name)
    
    hello()

In [544]:
greet()

Hello THIS IS A GLOBAL STRING

In [545]:
#GLOBAL
name = 'THIS IS A GLOBAL STRING' #Global

def greet():
    #ENCLOSING
    name = 'Sammy' #Enclosing function locals
    
    def hello():
        #LOCAL
        name = 'IM A LOCAL'
        print('Hello '+name) #No local
    
    hello()

In [546]:
greet()

Hello IM A LOCAL

In [547]:
#BUILT IN FUNCTION
len

In [548]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

In [549]:
x = 50

def func(x):
    print(f'X is {x}')

In [550]:
func(x)

X is 50

In [551]:
x = 50

def func(x):
    print(f'X is {x}')
    
    # LOCAL REASSIGNMENT!
    x = 200
    print(f'I JUST LOCALLY CHANGED X TO {x}')

In [552]:
func(x)

X is 50
I JUST LOCALLY CHANGED X TO 200

In [553]:
print(x)

50

In [554]:
x = 50

def func():
    global x
    print(f'X is {x}')
    
    # LOCAL REASSIGNMENT ON A GLOBAL VARIABLE!
    x = 'NEW VALUE'
    print(f'I JUST LOCALLY CHANGED GLOBAL X TO {x}')

In [555]:
print(x)

50

In [556]:
func()

X is 50
I JUST LOCALLY CHANGED GLOBAL X TO NEW VALUE

In [557]:
print(x)

NEW VALUE

In [558]:
#THIS IS MUCH BETTER, CLEANER AND SAFER WAY TO DO THIS INSTEAD OF USING GLOBAL KEYWORD
x = 50

def func(x):

    print(f'X is {x}')
    
    # LOCAL REASSIGNMENT ON A VARIABLE!
    x = 'NEW VALUE'
    print(f'I JUST LOCALLY CHANGED X TO {x}')
    return x

In [559]:
print(x)

50

In [560]:
x = func(x)

X is 50
I JUST LOCALLY CHANGED X TO NEW VALUE

In [561]:
x

'NEW VALUE'

OBJECT ORIENTED PROGRAMMING

ATTRIBUTES AND CLASS KEYWORD

In [562]:
mylist = [1,2,3]

In [563]:
myset = set()

In [564]:
type(myset)

set

In [565]:
type(mylist)

list

We used a keyword class and created a Dog class
init method is a special method which is inside of the class

In [566]:
class Dog(): 
    
    def __init__(self,mybreed):
        
        # Attributes
        # We take in the argument
        # Assign it using self.attribute_name
        self.my_attribute = mybreed

In [567]:
my_dog = Dog(mybreed='Huskie')

In [568]:
type(my_dog)

__main__.Dog

In [569]:
my_dog.my_attribute

'Huskie'

Conventionally, we use same names for passing the parameter, attribute name and actual assignment call. So, it will look like this (below)

In [570]:
class Dog(): 
    
    def __init__(self,breed):
        
        # Attributes
        # We take in the argument
        # Assign it using self.attribute_name
        self.breed = breed

In [571]:
my_dog = Dog(breed='Huskie')

In [572]:
my_dog.breed

'Huskie'

In [573]:
class Dog(): 
    
    def __init__(self,breed,name,spots):
        
        # Attributes
        # We take in the argument
        # Assign it using self.attribute_name
        self.breed = breed
        self.name = name
        # Expect the boolean True/False
        self.spots = spots

In [574]:
my_dog = Dog(breed='Lab',name='Sammy',spots=False)

In [575]:
type(my_dog)

__main__.Dog

In [576]:
my_dog.breed

'Lab'

In [577]:
my_dog.name

'Sammy'

In [578]:
my_dog.spots

False

In [579]:
class Dog(): 
    
    def __init__(self,breed,name,spots):
        
        # Attributes
        # We take in the argument
        # Assign it using self.attribute_name
        self.breed = breed
        self.name = name
        self.spots = spots

In [580]:
my_dog = Dog(breed='Lab',name='Sammy',spots="NO SPOTS")

In [581]:
my_dog.breed

'Lab'

In [582]:
my_dog.name

'Sammy'

In [583]:
my_dog.spots

'NO SPOTS'

CLASS OBJECT ATTRIBUTES AND METHODS

In [584]:
class Dog():
    
    # CLASS OBJECT ATTRIBUTE
    # SAME FOR ANY INSTANCE OF A CLASS
    species = 'mammal' # we are not using self here because this will be true regardless of the instance below
    
    def __init__(self,breed,name,spots):
        
        # Attributes
        # We take in the argument
        # Assign it using self.attribute_name
        self.breed = breed
        self.name = name
        # Expect the boolean True/False
        self.spots = spots

In [585]:
my_dog = Dog(breed='Lab',name='Sam',spots=False)

In [586]:
type(my_dog)

__main__.Dog

In [587]:
my_dog.species

'mammal'

In [588]:
my_dog.breed

'Lab'

In [589]:
my_dog.name

'Sam'

In [590]:
my_dog.spots

False

DIFFERENCE BETWEEN METHODS AND FUNCTIONS IS THAT THE METHODS ARE JUST FUNCTIONS INSIDE THE CLASS AND THEY WILL INTERACT WITH THE CLASS IN SOME WAY

In [591]:
class Dog():
    
    # CLASS OBJECT ATTRIBUTE
    # SAME FOR ANY INSTANCE OF A CLASS
    species = 'mammal' # we are not using self here because this will be true regardless of the instance below
    
    def __init__(self,breed,name):
        
        # Attributes
        # We take in the argument
        # Assign it using self.attribute_name
        self.breed = breed
        self.name = name
        
    # OPERATIONS/ACTIONS -----> METHODS
    def bark(self,number):  #methods can take outside arguments, so we have given number as an outside argument
        print("WOOF! My name is {} and the number is {}".format(self.name,number))

In [592]:
my_dog = Dog('Lab','Frankie')

In [593]:
type(my_dog)

__main__.Dog

In [594]:
my_dog.species  # calling an attribute

'mammal'

In [595]:
my_dog.name  # calling an attribute

'Frankie'

In [596]:
my_dog.breed # calling an attribute

'Lab'

In [597]:
my_dog.bark(10) #calling a method requires parentheses

WOOF! My name is Frankie and the number is 10

In [598]:
class Circle():
    
    # CLASS OBJECT ATTRIBUTE
    pi = 3.14
    
    def __init__(self,radius=1):
        
        self.radius = radius
        self.area = radius * radius * Circle.pi    # we can write Circle.pi instead of self.pi because pi is a class object attribute for better readability
        
    # METHOD
    
    def get_circumference(self):
        return self.radius * Circle.pi * 2

In [599]:
my_circle = Circle(30)

In [600]:
my_circle.pi

3.14

In [601]:
my_circle.radius

30

In [602]:
my_circle.area

2826.0

In [603]:
my_circle.get_circumference()

188.4

INHERITANCE AND POLYMORPHISM

INHERITANCE

In [604]:
class Animal(): # THIS WILL BE BASE CLASS
    
    def __init__(self):
        print("ANIMAL CREATED")
        
    def who_am_i(self):
        print("I am an animal")
        
    def eat(self):
        print("I am eating")

In [605]:
class Dog(Animal):     # DERIVED CLASS
    
    def __init__(self):
        Animal.__init__(self)
        print("Dog Created") 
        
    def eat(self):
        print("I am a dog and eating")    # WE CAN OVERWRITE PREVIOUS METHOD FOR THIS CLASS
        
    def bark(self):
        print("WOOF!")      # WE CAN ADD MORE METHODS FOR THIS CLASS

In [606]:
mydog = Dog()

ANIMAL CREATED
Dog Created

In [607]:
mydog.who_am_i()

I am an animal

In [608]:
mydog.eat()

I am a dog and eating

In [609]:
mydog.bark()

WOOF!

In [610]:
myanimal = Animal()

ANIMAL CREATED

In [611]:
myanimal.who_am_i()

I am an animal

In [612]:
myanimal.eat()

I am eating

POLYMORPHISM

In [613]:
class Dog():
    
    def __init__(self,name):
        self.name = name
        
    def speak(self):
        return self.name + " says woof!"

In [614]:
class Cat():
    
    def __init__(self,name):
        self.name = name
        
    def speak(self):
        return self.name + " says meow!"

In [615]:
# THESE ARE TWO VARIABLES
niko = Dog("niko")  
felix = Cat("felix")

In [616]:
print(niko.speak())

niko says woof!

In [617]:
print(felix.speak())

felix says meow!

In [618]:
for pet in [niko,felix]:
    
    print(type(pet))
    print(type(pet.speak()))

<class '__main__.Dog'>
<class 'str'>
<class '__main__.Cat'>
<class 'str'>

In [619]:
#USING FOR LOOPS

for pet in [niko,felix]:
    
    print(type(pet))
    print(pet.speak())

<class '__main__.Dog'>
niko says woof!
<class '__main__.Cat'>
felix says meow!

In [620]:
# USING FUNCTION

def pet_speak(pet):
    print(pet.speak())

In [621]:
pet_speak(niko)

niko says woof!

In [622]:
pet_speak(felix)

felix says meow!

In [623]:
class Animal():
    
    def __init__(self,name):
        self.name = name
        
    def speak(self):
        raise NotImplementedError("Subclass must implement this abstract method")

In [624]:
class Dog(Animal):
    
    def speak(self):
        return self.name + " says woof!"

In [625]:
class Cat(Animal):
    
    def speak(self):
        return self.name + " says meow!"

In [626]:
fido = Dog("Fido")

In [627]:
isis = Cat("Isis")

In [628]:
print(fido.speak())

Fido says woof!

In [629]:
print(isis.speak())

Isis says meow!

Special Methods (Magic/Dunder)

In [630]:
mylist = [1,2,3]

In [631]:
len(mylist)

3

In [632]:
class Sample():
    pass

In [633]:
mysample = Sample()

In [634]:
print(mysample)

<__main__.Sample object at 0x105cfa8d0>

In [635]:
print(mylist)

[1, 2, 3]

In [636]:
class Book():
    
    def __init__(self,title,author,pages):
        
        self.title = title
        self.author = author
        self.pages = pages
    
    # special str method    
    def __str__(self):
        return f"{self.title} by {self.author}"
    
    # special len method
    def __len__(self):
        return self.pages
    
    # special del method
    def __del__(self):
        print("A book object has been deleted")

In [637]:
b = Book('Python rocks','Jose',200)

In [638]:
print(b)

Python rocks by Jose

In [639]:
str(b)

'Python rocks by Jose'

In [640]:
len(b)

200

In [641]:
# keyword del will delete the book from the computer's memory
# this is a way to delete variable from the computer's memory
del b

A book object has been deleted

ERRORS AND EXCEPTION HANDLING

In [642]:
def add(n1,n2):
    print(n1+n2)

In [643]:
add(10,20)

30

In [644]:
number1 = 10

In [645]:
number2 = input("Please provide a number: ")

Please provide a number: 9

In [647]:
add(number1,number2)
print("Something happened!")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [648]:
try:
    # WANT TO ATTEMPT THIS CODE
    # MAY HAVE AN ERROR
    result = 10 + '10'
except:
    print("Hey it looks like you aren't adding correctly!")
else:
    print("Add went well!")
    print(result)

Hey it looks like you aren't adding correctly!

In [649]:
try:
    # WANT TO ATTEMPT THIS CODE
    # MAY HAVE AN ERROR
    result = 10 + 10
except:
    print("Hey it looks like you aren't adding correctly!")
else:
    print("Add went well!")
    print(result)

Add went well!
20

In [650]:
try:
    f = open('testfile','w')
    f.write("Write a test line")
except TypeError:
    print("There was a type error!")
except OSError:
    print('Hey you have an OS Error')
finally:
    print("I always run")

I always run

In [651]:
try:
    f = open('testfile','r')
    f.write("Write a test line")
except TypeError:
    print("There was a type error!")
except OSError:
    print('Hey you have an OS Error')
finally:
    print("I always run")

Hey you have an OS Error
I always run

In [652]:
try:
    f = open('testfile','r')
    f.write("Write a test line")
except TypeError:
    print("There was a type error!")
except:
    print('All other exceptions!')
finally:
    print("I always run")

All other exceptions!
I always run

In [653]:
try:
    f = open('testfile','r')
    f.write("Write a test line")
except:
    print('All other exceptions!')
finally:
    print("I always run")

All other exceptions!
I always run

In [654]:
def ask_for_int():
    try:
        result = int(input("Please provide number: "))
    except:
        print("Whoops! That is not a number")
    finally:
        print("End of try/excepy/finally")

In [655]:
ask_for_int()

Please provide number:
Whoops! That is not a number
End of try/excepy/finally

In [656]:
ask_for_int()

Please provide number:
Whoops! That is not a number
End of try/excepy/finally

In [657]:
def ask_for_int():
    
    while True:
        try:
            result = int(input("Please provide number: "))
        except:
            print("Whoops! That is not a number")
            continue
        else:
            print("Yes thank you")
            break
        finally:
            print("End of try/excepy/finally")
            print("I'm going to ask you again! \n")

In [658]:
ask_for_int()

Please provide number:
Whoops! That is not a number
End of try/excepy/finally
I'm going to ask you again!

Please provide number:
Whoops! That is not a number
End of try/excepy/finally
I'm going to ask you again!

Please provide number:
Whoops! That is not a number
End of try/excepy/finally
I'm going to ask you again!

Please provide number:
Whoops! That is not a number
End of try/excepy/finally
I'm going to ask you again!

Please provide number:
Whoops! That is not a number
End of try/excepy/finally
I'm going to ask you again!

Please provide number:
Whoops! That is not a number
End of try/excepy/finally
I'm going to ask you again!

Please provide number:
Whoops! That is not a number
End of try/excepy/finally
I'm going to ask you again!

Please provide number:
Whoops! That is not a number
End of try/excepy/finally
I'm going to ask you again!

Please provide number:
Whoops! That is not a number
End of try/excepy/finally
I'm going to ask you again!

Please provide number:
Whoops! That is not a number
End of try/excepy/finally
I'm going to ask you again!

Please provide number:
Whoops! That is not a number
End of try/excepy/finally
I'm going to ask you again!

Please provide number:
Whoops! That is not a number
End of try/excepy/finally
I'm going to ask you again!

Please provide number:
Whoops! That is not a number
End of try/excepy/finally
I'm going to ask you again!

Please provide number:
Whoops! That is not a number
End of try/excepy/finally
I'm going to ask you again!

Please provide number: 8
Yes thank you
End of try/excepy/finally
I'm going to ask you again!

In [659]:
ask_for_int()

Please provide number: 4
Yes thank you
End of try/excepy/finally
I'm going to ask you again!

In [660]:
def ask_for_int():
    
    while True:
        try:
            result = int(input("Please provide number: "))
        except:
            print("Whoops! That is not a number")
            continue
        else:
            print("Yes thank you")
            break

In [661]:
ask_for_int()

Please provide number: 3
Yes thank you

DECORATORS

In [673]:
def func():
    return 1

In [674]:
func()

1

In [675]:
func

In [676]:
def hello():
    return "Hello!"

In [677]:
hello()

'Hello!'

In [678]:
hello

In [679]:
greet = hello

In [680]:
greet()

'Hello!'

In [681]:
hello()

'Hello!'

In [682]:
del hello

In [683]:
hello()

NameError: name 'hello' is not defined

In [684]:
greet()

'Hello!'

In [685]:
def hello(name='Jose'):
    print('The hello() function has been executed!')
    
    def greet():
        return '\t This is the greet() function inside hello!'
    
    def welcome():
        return '\t This is welcome() inside hello'
    
    print(greet())
    print(welcome())
    print('This is the end of hello function!')

In [686]:
hello()

The hello() function has been executed!
	 This is the greet() function inside hello!
	 This is welcome() inside hello
This is the end of hello function!

In [687]:
def hello(name='Jose'):
    print('The hello() function has been executed!')
    
    def greet():
        return '\t This is the greet() function inside hello!'
    
    def welcome():
        return '\t This is welcome() inside hello'
    
    print("I am going to return a function!!")
    
    if name == 'Jose':
        return greet
    else:
        return welcome

In [688]:
my_new_func = hello('Jose')

The hello() function has been executed!
I am going to return a function!!

In [689]:
print(my_new_func())

	 This is the greet() function inside hello!

In [690]:
def cool():
    
    def super_cool():
        return 'I am very cool!'
    
    return super_cool

In [691]:
some_func = cool()

In [692]:
some_func

In [693]:
some_func()

'I am very cool!'

In [694]:
def hello():
    return 'Hi Jose!'

In [695]:
def other(some_def_func):
    print('Other code runs here!')
    print(some_def_func())

In [696]:
hello

In [697]:
hello()

'Hi Jose!'

In [698]:
other(hello)

Other code runs here!
Hi Jose!

In [699]:
def new_decorator(original_func):
    
    def wrap_func():
        
        print('Some extra code, before the original function!')
        
        original_func()
        
        print('Some extra code, after the original function!')
        
    return wrap_func

In [700]:
def func_needs_decorator():
    print("I want to be decorated!!")

In [701]:
func_needs_decorator()

I want to be decorated!!

In [702]:
decorated_func = new_decorator(func_needs_decorator)

In [703]:
decorated_func()

Some extra code, before the original function!
I want to be decorated!!
Some extra code, after the original function!

In [704]:
@new_decorator
def func_needs_decorator():
    print("I want to be decorated!!")

In [705]:
func_needs_decorator()

Some extra code, before the original function!
I want to be decorated!!
Some extra code, after the original function!

In [706]:
# @new_decorator
def func_needs_decorator():
    print("I want to be decorated!!")

In [707]:
func_needs_decorator()

I want to be decorated!!

GENERATORS

In [708]:
def create_cubes(n):
    result = []
    for x in range(n):
        result.append(x**3)
    return result

In [709]:
create_cubes(10)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [710]:
for x in create_cubes(10):
    print(x)

0
1
8
27
64
125
216
343
512
729

In [711]:
def create_cubes(n):

    for x in range(n):
        yield x**3

In [712]:
for x in create_cubes(10):
    print(x)

0
1
8
27
64
125
216
343
512
729

In [713]:
create_cubes(10)

In [714]:
list(create_cubes(10))

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [715]:
def gen_fibon(n):
    
    a = 1
    b = 1
    for i in range(n):
        yield a
        a,b = b,a+b

In [716]:
for number in gen_fibon(10):
    print(number)

1
1
2
3
5
8
13
21
34
55

In [717]:
# THIS IS WAY LESS MEMORY EFFICIENT BECAUSE I'M HOLDING EVERYTHING IN OUTPUT LIST IN MEMORY INSTEAD OF JUST YIELDING THEM AS I NEED THEM
def gen_fibon(n):
    
    a = 1
    b = 1
    output = []
    for i in range(n):
        output.append(a)
        a,b = b,a+b
    return output

In [718]:
for number in gen_fibon(10):
    print(number)

1
1
2
3
5
8
13
21
34
55

In [719]:
def simple_gen():
    for x in range(3):
        yield x

In [720]:
for number in simple_gen():
    print(number)

0
1
2

In [721]:
g = simple_gen()

In [722]:
g

In [723]:
print(next(g))

0

In [724]:
print(next(g))

1

In [725]:
print(next(g))

2

In [726]:
s = 'hello'

In [727]:
for letter in s:
    print(letter)

h
e
l
l
o

In [728]:
s_iter = iter(s)

In [729]:
print(next(s_iter))

h

In [730]:
print(next(s_iter))

e

In [731]:
print(next(s_iter))

l

In [732]:
print(next(s_iter))

l

In [733]:
print(next(s_iter))

o

ADVANCED PYTHON MODULES

COLLECTIONS MODULE

In [734]:
from collections import Counter

In [735]:
mylist = [1,1,1,1,1,2,2,2,2,2,3,3,3,3,3,3]

In [736]:
Counter(mylist)

Counter({3: 6, 1: 5, 2: 5})

In [737]:
mylist = ['a','a',10,10,10]

In [738]:
Counter(mylist)

Counter({10: 3, 'a': 2})

In [739]:
Counter('aaavhvshgvshxskxbhkb')

Counter({'h': 4, 'a': 3, 'v': 3, 's': 3, 'x': 2, 'k': 2, 'b': 2, 'g': 1})

In [740]:
sentence = "How many times does each word show up in this sentence with a word"

In [741]:
Counter(sentence.split())

Counter({'word': 2,
         'How': 1,
         'many': 1,
         'times': 1,
         'does': 1,
         'each': 1,
         'show': 1,
         'up': 1,
         'in': 1,
         'this': 1,
         'sentence': 1,
         'with': 1,
         'a': 1})

In [742]:
Counter(sentence.lower().split())

Counter({'word': 2,
         'how': 1,
         'many': 1,
         'times': 1,
         'does': 1,
         'each': 1,
         'show': 1,
         'up': 1,
         'in': 1,
         'this': 1,
         'sentence': 1,
         'with': 1,
         'a': 1})

In [743]:
letters = 'aaaabbbbbbbbbcccccccccccddddd'

In [744]:
c = Counter(letters)

In [745]:
c

Counter({'c': 11, 'b': 9, 'd': 5, 'a': 4})

In [746]:
c.most_common()

[('c', 11), ('b', 9), ('d', 5), ('a', 4)]

In [747]:
c.most_common(2)

[('c', 11), ('b', 9)]

In [748]:
c

Counter({'c': 11, 'b': 9, 'd': 5, 'a': 4})

In [749]:
list(c)

['a', 'b', 'c', 'd']

In [750]:
from collections import defaultdict

In [751]:
d = {'a':10}

In [752]:
d

{'a': 10}

In [753]:
d['a']

10

In [754]:
d = defaultdict(lambda: 0)

In [755]:
d['correct'] = 100

In [756]:
d['correct']

100

In [757]:
d['WRONG KEY!']

0

In [758]:
d

defaultdict(<function __main__.<lambda>()>, {'correct': 100, 'WRONG KEY!': 0})

In [759]:
mytuple = (10,20,30)

In [760]:
mytuple[0]

10

In [761]:
from collections import namedtuple

In [762]:
Dog = namedtuple('Dog',['age','breed','name'])

In [763]:
sammy = Dog(age=5,breed='Husky',name='Sam')

In [764]:
type(sammy)

__main__.Dog

In [765]:
sammy

Dog(age=5, breed='Husky', name='Sam')

In [766]:
sammy.age

5

In [767]:
sammy.breed

'Husky'

In [768]:
sammy.name

'Sam'

In [769]:
sammy[0]

5

In [770]:
sammy[1]

'Husky'

In [771]:
sammy[2]

'Sam'

DATETIME MODULE

In [772]:
import datetime

In [781]:
mytime = datetime.time(13,20,1,20)

In [782]:
mytime.minute

20

In [783]:
mytime.hour

13

In [784]:
print(mytime)

13:20:01.000020

In [785]:
mytime.microsecond

20

In [786]:
type(mytime)

datetime.time

In [787]:
today = datetime.date.today()

In [788]:
print(today)

2024-10-24

In [789]:
today.year

2024

In [790]:
today.month

10

In [791]:
today.day

24

In [792]:
today.ctime()

'Thu Oct 24 00:00:00 2024'

In [796]:
from datetime import datetime

In [799]:
mydatetime = datetime(2024, 10, 24, 6, 56, 1)

In [802]:
print(mydatetime)

2024-10-24 06:56:01

In [804]:
mydatetime = mydatetime.replace(microsecond=30)

In [806]:
print(mydatetime)

2024-10-24 06:56:01.000030

In [807]:
# DATE

In [808]:
from datetime import date

In [813]:
date1 = date(2025,10,24)
date2 = date(2024,10,24)

In [814]:
result = date1 - date2

In [815]:
type(result)

datetime.timedelta

In [816]:
result.days

365

In [821]:
datetime1 = datetime(2025,11,24,22,0)

In [822]:
datetime2 = datetime(2024,11,24,12,0)

In [823]:
datetime1 - datetime2

datetime.timedelta(days=365, seconds=36000)

In [824]:
mydiff = datetime1 - datetime2

In [825]:
mydiff.seconds

36000

In [827]:
mydiff.total_seconds()

31572000.0

MATH AND RANDOM MODULES

In [828]:
import math

In [829]:
help(math)

Help on module math:

NAME
    math

MODULE REFERENCE
    https://docs.python.org/3.11/library/math.html

    The following documentation is automatically generated from the Python
    source files.  It may be incomplete, incorrect or include features that
    are considered implementation detail and may vary between Python
    implementations.  When in doubt, consult the module reference at the
    location listed above.

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

        The result is between 0 and pi.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    cbrt(x, /)
        Return the cube root of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    exp2(x, /)
        Return 2 raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(n, /)
        Find n!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(*integers)
        Greatest Common Divisor.

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    lcm(*integers)
        Least Common Multiple.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    nextafter(x, y, /)
        Return the next floating-point value after x towards y.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

    ulp(x, /)
        Return the value of the least significant bit of the float x.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    /opt/anaconda3/lib/python3.11/lib-dynload/math.cpython-311-darwin.so

In [838]:
value = 4.35

In [839]:
math.floor(value)    # floor(flooring) for rounding down

4

In [840]:
math.ceil(value)     # ceil(ceiling) for rounding up

5

In [841]:
round(4.35)    # round will just round up or round down to whatever is closer to the value

4

In [842]:
round(4.5)

4

In [843]:
round(5.5)

6

In [844]:
math.pi

3.141592653589793

In [845]:
from math import pi

In [846]:
pi

3.141592653589793

In [847]:
math.e

2.718281828459045

In [848]:
math.inf

inf

In [849]:
math.nan

nan

In [850]:
math.e

2.718281828459045

In [851]:
math.log(math.e)

1.0

In [852]:
math.log(100,10)

2.0

In [853]:
math.sin(10)

-0.5440211108893698

In [854]:
math.degrees(pi/2)

90.0

In [855]:
math.radians(180)

3.141592653589793

In [856]:
import random

In [857]:
random.randint(0,100)

33

In [862]:
random.seed(101)

random.randint(0,100)

74

In [863]:
random.randint(0,100)

24

In [864]:
random.randint(0,100)

69

In [865]:
random.seed(101)
print(random.randint(0,100))
print(random.randint(0,100))
print(random.randint(0,100))
print(random.randint(0,100))
print(random.randint(0,100))

74
24
69
45
59

In [866]:
mylist = list(range(0,20))

In [867]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [870]:
random.choice(mylist)

6

In [871]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [875]:
# SAMPLE WITH REPLACEMENT
random.choices(population=mylist,k=10)

[3, 15, 4, 15, 8, 1, 9, 4, 13, 12]

In [876]:
# SAMPLE WITHOUT REPLACEMENT
random.sample(population=mylist,k=10)

[10, 8, 12, 17, 7, 6, 1, 14, 11, 19]

In [877]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [878]:
random.shuffle(mylist)

In [879]:
mylist

[8, 10, 16, 7, 1, 15, 9, 2, 4, 19, 11, 17, 18, 12, 5, 3, 6, 14, 0, 13]

In [880]:
random.uniform(a=0,b=100)

40.46746766929902

In [881]:
random.gauss(mu=0,sigma=1)

1.8736187349951874

In [883]:
# CAN USE NUMPY FOR MORE USEFUL MATH TOOLS FOR DATA SCIENCE AND MACHINE LEARNING

PYTHON DEBUGGER

In [884]:
x = [1,2,3]
y = 2
z = 3

TypeError: can only concatenate list (not "int") to list

In [885]:
import pdb

In [ ]:
x = [1,2,3]
y = 2
z = 3

result_one = y + z

pdb.set_trace()

result_two = y + x

--Return--
None
> /var/folders/qg/wpj_4k7j0b9f3xg1q250fb880000gn/T/ipykernel_55054/1912475531.py(7)<module>()
      5 result_one = y + z
      6
----> 7 pdb.set_trace()
      8
      9 result_two = y + x

ipdb> x
[1, 2, 3]
ipdb> y
2
ipdb> result_1
*** NameError: name 'result_1' is not defined